.popup__input-error {
  display: flex;
  min-height: 30px;
  padding-top: 3px;
  visibility: hidden;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
}
