.element__trash-button {
  max-width: 19px;
  width: 100%;
  max-height: 18px;
  height: 100%;
  padding: 0;
  background-color: transparent;
  background-image: url(../../../images/element--trash-button.svg);
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  position: absolute;
  top: 20px;
  right: 20px;
  visibility: hidden;
}

.element__trash-button:hover {
  opacity: 0.6;
  cursor: pointer;
}
