.popup__input-container {
  max-width: 358px;
  width: 100%;
  margin: auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  border: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 550px) {
  .popup__input-container {
    max-width: 238px;
    width: 100%;
  }
}
