.profile__edit-button {
  max-width: 24px;
  width: 100%;
  max-height: 24px;
  height: 100%;
  margin-bottom: 9px;
  background-color: #000000;
  background-image: url(../../../images/profile--edit-button.svg);
  background-size: 10px 10px;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #FFFFFF;
}

.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .profile__edit-button {
    margin-left: 0px;
    margin-bottom: 0px;
    max-width: 18px;
    width: 100%;
    max-height: 18px;
    height: 100%;
    background-size: 7.5px 7.5px;
  }
}
