.profile__user {
  display: flex;
  align-items: flex-end;
}

@media screen and (max-width: 720px) {
  .profile__user {
    justify-content: center;
  }
}

@media screen and (max-width: 500px) {
  .profile__user {
    align-items: center;
  }
}
