.auth__link {
  margin-top: 15px;
  margin-left: 10px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
}

.auth__link:hover {
  cursor: pointer;
  opacity: 0.6;
}