@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./blocks/loader/loader.css);
@import url(./blocks/root/root.css);
@import url(./blocks/page/page.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__wrapper/header__wrapper.css);
@import url(./blocks/header/__button/header__button.css);
@import url(./blocks/header/__user-email/header__user-email.css);
@import url(./blocks/content/content.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar-button/profile__avatar-button.css);
@import url(./blocks/profile/__image/profile__image.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__user/profile__user.css);
@import url(./blocks/profile/__title/profile__title.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__subtitle/profile__subtitle.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/elements/elements.css);
@import url(./blocks/element/element.css);
@import url(./blocks/element/__item/element__item.css);
@import url(./blocks/element/__image/element__image.css);
@import url(./blocks/element/__trash-button/element__trash-button.css);
@import url(./blocks/element/__trash-button/element__trash-button_active.css);
@import url(./blocks/element/__info/element__info.css);
@import url(./blocks/element/__title/element__title.css);
@import url(./blocks/element/__like-container/__like-container.css);
@import url(./blocks/element/__like-button/element__like-button.css);
@import url(./blocks/element/__like-button/element__like-button_active.css);
@import url(./blocks/element/__like-counter/element__like-counter.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/popup_opened.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__close-window/popup__close-window.css);
@import url(./blocks/popup/__input-container/popup__input-container.css);
@import url(./blocks/popup/__form-item/popup__form-item.css);
@import url(./blocks/popup/__form-button/popup__form-button.css);
@import url(./blocks/popup/__form-item/_type/popup__form-item_type_error.css);
@import url(./blocks/popup/__input-error/popup__input-error.css);
@import url(./blocks/popup/__input-error/form__input-error_active.css);
@import url(./blocks/popup/__form-button/popup__form-button_inactive.css);
@import url(./blocks/popup/_type/popup_type_image.css);
@import url(./blocks/popup/__container/_type/popup__container_type_image.css);
@import url(./blocks/popup/__image-item/popup__image-item.css);
@import url(./blocks/popup/__title-image/popup__title-image.css);

@import url(./blocks/auth/auth.css);
@import url(./blocks/auth/__title/auth__title.css);
@import url(./blocks/auth-form/auth-form.css);
@import url(./blocks/auth-form/__input/auth-form__input.css);
@import url(./blocks/auth-form/__submit/auth-form__submit.css);
@import url(./blocks/auth/__subtitle/auth__subtitle.css);
@import url(./blocks/auth/__link/auth__link.css);
@import url(./blocks/popup/__container/_type/popup__container_type_auth.css);
@import url(./blocks/popup/__title/_type/popup__title_type_auth.css);