.header {
  max-width: calc(100% - (15.625% + 15.625%));
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 41px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (max-width: 500px) {
  .header {
    max-width: 100%;
    width: 100%;
    padding-bottom: 31.6px;
  }
}
